<a href="https://colab.research.google.com/github/julianovale/lean_6_sigma_python/blob/master/0007_teste_hipotese_chiquadrado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes =True)
%matplotlib inline
import statsmodels.api as sm
from scipy import stats
from scipy.stats import chisquare, chi2_contingency

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Teste Qui-quadrado
- Uma equipe processa dados para dois clientes diferentes. As equipes desses clientes revisam os dados e fazem as correções antes da aprovação e enviam relatórios sobre as correções. O gerente quer saber se um cliente reporta mais erros que o outro. Uma vez que a equipe de processamento é a mesma, a quantidade de erros deveria ser a mesma, também.

In [2]:
CS=pd.read_excel("https://github.com/julianovale/lean_6_sigma_python/blob/master/ChiS.xlsx?raw=true")

In [3]:
CS.head()

     Client       Result
0  Client A  Corrections
1  Client A  Corrections
2  Client A  Corrections
3  Client A  Corrections
4  Client A  Corrections

## Criando a tabulação cruzada
- Como pivot table no excel

In [4]:
CR = pd.crosstab(CS['Client'], CS['Result'])

In [5]:
CR

Result    Corrections  No Issues
Client
Client A           12         39
Client B           76         98

## Rodando o teste propriamente dito
- O teste Chi-quadrado testa a H0 de indenpendência das frequências observadas em uma tabela de contingência (a tabulação cruzada criada acima)
- H0: as frequências são independentes
- Ha: as frequências são dependentes (no caso, do cliente)

### Regra de decisão
- valor-p >= 0.05: **aceito H0 como verdadeira**;
- valor-p < 0.05: **rejeito H0 e fico com Ha**.

### Saídas do teste:
- o valor calculado de Qui-quadrado (5.9054003222); o valor-p (0.0151063), **neste caso rejeito H0**; Graus de liberdade (1); e, a matriz de valores esperados para que H0 fosse verdadeira.

In [6]:
chi2_contingency(CR)

(5.9040322183091485,
 0.015106263154280606,
 1,
 array([[ 19.94666667,  31.05333333],
        [ 68.05333333, 105.94666667]]))